<div class="grid grid-cols-12 gap-4 md:gap-6">
  <div class="col-span-12">
    <!-- Metric Group Five -->
    <app-stock-metrics-list />
    <!-- Metric Group Five -->
  </div>

  <div class="col-span-12 space-y-6 xl:col-span-8">
    <!-- ====== Chart Fourteen Start -->
    <div>
      <app-profile-performance/>
    </div>
    <!-- ====== Chart Fourteen End -->
    <!-- ====== Trending Stocks Start -->
    <app-trending-stocks/>
    <!-- ====== Trending Stocks End -->
  </div>
  
  <div class="col-span-12 space-y-6 xl:col-span-4">
    <!-- ====== Chart Fifteen Start -->
    <div><app-dividend-chart/></div>
    <!-- ====== Chart Fifteen End -->
    <!-- ====== Chart Fifteen Start -->
    <div><app-watch-list/></div>
    <!-- ====== Chart Fifteen End -->
  </div>

  <div class="col-span-12">
    <!-- Table Five -->
    <app-latest-transactions/>
  </div>
</div>