<div class="grid grid-cols-12 gap-4 md:gap-6">
  <div class="col-span-12">
    <!-- Metric Group Three -->
    <app-marketing-metrics-cards />
    <!-- Metric Group Three -->
  </div>

  <div class="col-span-12 space-y-6 xl:col-span-8">
    <!-- ====== Chart Eight Start -->
    <div><app-impression-chart /></div>
    <!-- ====== Chart Eight End -->

    <!-- ====== Table Three Start -->
    <div><app-featured-campaign /></div>
    <!-- ====== Table Three End -->
  </div>

  <div class="col-span-12 space-y-6 xl:col-span-4">
    <!-- ====== Traffic Stats Start -->

    <div><app-traffic-stats /></div>
    <!-- ====== Traffic Stats End -->

    <!-- ====== Traffic Source Start -->
    <div><app-traffic-source /></div>
    <!-- ====== Traffic Source End -->
  </div>
</div>