<div class="max-w-full overflow-auto custom-scrollbar sm:overflow-visible">
  <div class="min-w-[750px]">
    <div class="flex flex-col flex-wrap items-center gap-4 sm:flex-row sm:gap-5">
      
      <!-- Top Popover -->
      <div>
        <app-popover position="top">
          <app-button size="sm" trigger>Popover on Top</app-button>
          
          <div class="relative rounded-t-xl border-b border-gray-200 px-5 py-3 dark:border-white/[0.03]">
            <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
              Top Popover
            </h3>
          </div>
          <div class="p-5">
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Mauris
              facilisis congue exclamate justo nec facilisis.
            </p>
          </div>
        </app-popover>
      </div>

      <!-- Bottom Popover -->
      <div>
        <app-popover position="bottom">
          <app-button size="sm" trigger>Popover on Bottom</app-button>
          
          <div class="rounded-t-xl border-b relative border-gray-200 px-5 py-3 dark:border-white/[0.03]">
            <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
              Bottom Popover
            </h3>
          </div>
          <div class="p-5">
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Mauris
              facilisis congue exclamate justo nec facilisis.
            </p>
          </div>
        </app-popover>
      </div>

      <!-- Right Popover -->
      <div>
        <app-popover position="right">
          <app-button size="sm" trigger>Popover on Right</app-button>
          
          <div class="rounded-t-xl border-b relative border-gray-200 px-5 py-3 dark:border-white/[0.03]">
            <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
              Right Popover
            </h3>
          </div>
          <div class="p-5">
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Mauris
              facilisis congue exclamate justo nec facilisis.
            </p>
          </div>
        </app-popover>
      </div>

      <!-- Left Popover -->
      <div>
        <app-popover position="left">
          <app-button size="sm" trigger>Popover on Left</app-button>
          
          <div class="rounded-t-xl border-b relative border-gray-200 px-5 py-3 dark:border-white/[0.03]">
            <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
              Left Popover
            </h3>
          </div>
          <div class="p-5">
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Lorem ipsum dolor sit amet, consect adipiscing elit. Mauris
              facilisis congue exclamate justo nec facilisis.
            </p>
          </div>
        </app-popover>
      </div>

    </div>
  </div>
</div>