<div class="flex items-center gap-10">
  <!-- White --> 
  <app-tooltip content="This is a tooltip" placement="top" variant="default">
    <button class="inline-flex px-4 py-3 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs">
      White Tooltip
    </button>
  </app-tooltip>

  <!-- Dark --> 
  <app-tooltip content="This is a tooltip" placement="top" variant="dark">
    <button class="inline-flex px-4 py-3 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs">
      Dark Tooltip
    </button>
  </app-tooltip>
</div>