<div class="flex flex-col items-center gap-10 sm:flex-row">
  <!-- Top --> 
  <app-tooltip content="This is a tooltip" placement="top">
    <button class="inline-flex px-4 py-3 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs">
      Tooltip Top
    </button>
  </app-tooltip>

  <!-- Right --> 
  <app-tooltip content="This is a tooltip" placement="right">
    <button class="inline-flex px-4 py-3 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs">
      Tooltip Right
    </button>
  </app-tooltip>

  <!-- Left --> 
  <app-tooltip content="This is a tooltip" placement="left">
    <button class="inline-flex px-4 py-3 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs">
      Tooltip Left
    </button>
  </app-tooltip>

  <!-- Bottom --> 
  <app-tooltip content="This is a tooltip" placement="bottom">
    <button class="inline-flex px-4 py-3 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs">
      Tooltip Bottom
    </button>
  </app-tooltip>
</div>