<div class="space-y-4 sm:max-w-[320px] w-full">
  <div class="relative w-full h-2 bg-gray-200 rounded-full dark:bg-gray-800">
    <div class="absolute left-0 w-[55%] h-full bg-brand-500 rounded-full"></div>
  </div>

  <div class="relative w-full h-3 bg-gray-200 rounded-full dark:bg-gray-800">
    <div class="absolute left-0 w-[55%] h-full bg-brand-500 rounded-full"></div>
  </div>

  <div class="relative w-full h-4 bg-gray-200 rounded-full dark:bg-gray-800">
    <div class="absolute left-0 w-[55%] h-full bg-brand-500 rounded-full"></div>
  </div>

  <div class="relative w-full h-5 bg-gray-200 rounded-full dark:bg-gray-800">
    <div class="absolute left-0 w-[55%] h-full bg-brand-500 rounded-full"></div>
  </div>
</div>