<app-page-breadcrumb pageTitle="Tabs" />
<div class="space-y-5 sm:space-y-6">
  <div>
    <app-component-card title="Default Tab">
      <app-default-tab />
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Tab With Underline">
      <app-tab-with-underline />
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Tab with line and icon">
      <app-tab-with-underline-and-icon />
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Tab with badge">
      <app-tab-with-badge />
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Vertical Tab">
      <app-vertical-tabs />
    </app-component-card>
  </div>
</div>