<app-page-breadcrumb pageTitle="🎯 Goals manager" />
<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12">
        <div
            class="overflow-hidden rounded-2xl border border-gray-200 bg-white pt-4 dark:border-gray-800 dark:bg-white/[0.03]">
            <div class="flex items-center justify-between px-6 mb-4">
                <div>
                    <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">Goals</h3>
                </div>
                <button (click)="goTo()"
                    class="flex items-center justify-center w-full gap-2 px-4 py-3 text-sm font-medium text-white rounded-lg bg-brand-500 shadow-theme-xs hover:bg-brand-600 sm:w-auto">
                    + New goal
                </button>
            </div>
            <div class="max-w-full overflow-x-auto">
                <table class="w-full border-collapse table-auto">
                    <thead>
                        <tr class="border-t border-gray-200 dark:border-gray-800">
                            <th class="px-6 py-3 font-medium text-left text-gray-500 text-theme-sm dark:text-gray-400">
                                Name
                            </th>
                            <th class="px-6 py-3 font-medium text-left text-gray-500 text-theme-sm dark:text-gray-400">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (goal of goals; track $index) {
                        <tr class="border-t border-gray-100 dark:border-gray-800">
                            <td class="px-6 py-[18px] text-sm text-gray-700 dark:text-gray-400">
                                <div class="flex items-center gap-2 capitalize">{{goal.name}}
                                </div>
                            </td>
                            <td class="flex justify-end px-6 py-[18px]">
                                <button (click)="goToGoal(goal.id)"
                                    class="inline-flex items-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-3 text-theme-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200">
                                    See goal
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>