<app-page-breadcrumb pageTitle="Carousel" />
<div class="grid grid-cols-1 gap-5 xl:grid-cols-2 xl:gap-6">
  <app-component-card title="Slides Only">
    <app-slide-only />
  </app-component-card>
  <app-component-card title="With controls">
    <app-with-control />
  </app-component-card>
  <app-component-card title="With indicators">
    <app-with-indicators />
  </app-component-card>
  <app-component-card title="With controls and indicators">
    <app-with-control-and-indicators />
  </app-component-card>
</div>