<app-page-breadcrumb pageTitle="File Manager" />
<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12">
    <!-- Media Card -->
    <app-all-media-card/>
    <!-- Media Card -->
  </div>

  <div class="col-span-12 xl:col-span-8">
    <!-- Folders Card -->
    <app-all-folders/>
    <!-- Folders Card -->
  </div>

  <div class="col-span-12 xl:col-span-4">
    <!-- ====== Chart Sixteen Start -->
    <app-storage-details-chart/>
    <!-- ====== Chart Sixteen End -->
  </div>

  <div class="col-span-12">
    <!-- ====== Table Seven Start -->
    <app-recent-file-table/>
    <!-- ====== Table Seven End -->
  </div>
</div>