<div class="grid grid-cols-12 gap-4 md:gap-6">
  <div class="col-span-12">
    <app-analytics-metrics />
  </div>
  <div class="col-span-12">
    <app-analytics-bar-chart />
  </div>
  <div class="col-span-12 xl:col-span-7">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
      <app-top-channel />
      <app-top-pages />
    </div>
  </div>
  <div class="col-span-12 xl:col-span-5">
    <app-active-users-chart />
  </div>

  <div class="col-span-12 xl:col-span-7">
    <app-acquisition-channel-chart />
  </div>

  <div class="col-span-12 xl:col-span-5">
    <app-session-chart />
  </div>

  <div class="col-span-12 xl:col-span-5">
    <app-demographic-card />
  </div>

  <div class="col-span-12 xl:col-span-7">
    <app-recent-analytics-order />
  </div>
</div>