<div>
  <app-page-breadcrumb pageTitle="Buttons Group" />

  <!-- button group start -->
  <div class="space-y-5 sm:space-y-6">
    <div>
      <app-component-card title="Primary Button Group">
        <app-primary-button-group />
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Primary Button Group with Left Icon">
        <app-button-group-with-left-icon />
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Primary Button Group with Right Icon">
        <app-button-group-with-right-icon />
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Secondary Button Group">
        <app-secondary-button-group />
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Secondary Button Group with Left Icon">
        <app-secondary-button-group-with-left-icon />
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Secondary Button Group with Right Icon">
        <app-secondary-button-group-with-right-icon />
      </app-component-card>
    </div>
  </div>
  <!-- button group end -->
</div>
