<div class="grid grid-cols-12 gap-4 md:gap-6">
  <div class="col-span-12">
    <!-- Metric Group Four -->
    <app-crm-metrics />
    <!-- Metric Group Four -->
  </div>

  <div class="col-span-12 xl:col-span-8">
    <!-- ====== Chart Eleven Start -->
    <app-crm-statistics-chart />
    <!-- ====== Chart Eleven End -->
  </div>

  <div class="col-span-12 xl:col-span-4">
    <!-- ====== Chart Twelve Start -->
    <app-estimated-revenue />
    <!-- ====== Chart Twelve End -->
  </div>

  <div class="col-span-12 xl:col-span-6">
    <!-- ====== Chart Thirteen Start -->
    <app-sale-pie-chart />
    <!-- ====== Chart Thirteen End -->
  </div>

  <div class="col-span-12 xl:col-span-6">
    <!-- ====== Upcoming Schedule Start -->
    <app-upcoming-schedule />
    <!-- ====== Upcoming Schedule End -->
  </div>

  <div class="col-span-12">
    <!-- Table Four -->
    <app-crm-recent-order />
    <!-- Table Four -->
  </div>
</div>