<app-page-breadcrumb pageTitle="Ribbons" />

<div class="grid grid-cols-1 gap-5 sm:gap-6 lg:grid-cols-2">
  <app-component-card title="Rounded Ribbon">
    <app-rounded-ribbon />
  </app-component-card>
  <app-component-card title="Ribbon in Hover">
    <app-ribbon-with-shape />
  </app-component-card>
  <app-component-card title="Filled Ribbon">
    <app-filled-ribbons />
  </app-component-card>
  <app-component-card title="Ribbon in Hover">
    <app-ribbon-with-hover />
  </app-component-card>
</div>