<div>
  <app-page-breadcrumb pageTitle="Dropdowns" />
  <div class="grid grid-cols-1 gap-5 xl:grid-cols-2 xl:gap-6">
    <app-component-card title="Default Dropdown">
      <div class="pb-[300px]">
        <app-account-menu-dropdown />
      </div>
    </app-component-card>
    <app-component-card title="Dropdown With Divider">
      <div class="pb-[300px]">
        <app-dropdown-with-divider/>
      </div>
    </app-component-card>
    <app-component-card title="Dropdown With Icon">
      <div class="pb-[300px]">
        <app-dropdown-with-icon />
      </div>
    </app-component-card>
    <app-component-card title="Dropdown With Icon and Divider">
      <div class="pb-[300px]">
        <app-dropdown-with-icon-and-divider />
      </div>
    </app-component-card>
  </div>
</div>